# maven ignore
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# upms ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
base-modules/base-admin-service/src/main/wabapp/code/.temp/
base-modules/base-admin-service/src/main/wabapp/code/src/pages/
base-modules/base-admin-service/src/main/wabapp/code/yarn.lock
