<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modules.system.mapper.SysAttachmentInfoMapper">

    <!-- 通过ID获取单个系统附件表信息 -->
    <select id="get" resultType="com.modules.system.entity.SysAttachmentInfo">
        select * from sys_attachment_info where id = #{value}
    </select>

    <!-- 分页查询系统附件表信息 -->
    <select id="findList" resultType="com.modules.system.entity.SysAttachmentInfo">
		select * from sys_attachment_info t
        WHERE 1=1
        ORDER BY t.create_date desc
    </select>

    <!-- 查询某个业务ID系统附件表信息 -->
    <select id="getByBizId" resultType="com.modules.system.entity.SysAttachmentInfo">
		select * from sys_attachment_info t
        WHERE 1=1 and t.biz_id = #{bizId} and t.biz_type = #{bizType}
        ORDER BY t.create_date desc
    </select>

    <!-- 保存系统附件表 -->
    <insert id="insert" parameterType="com.modules.system.entity.SysAttachmentInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_attachment_info (
            biz_id, 
            biz_type, 
            file_name, 
            file_path, 
            create_date, 
            create_user_id
        ) values (
            #{bizId},
            #{bizType},
            #{fileName},
            #{filePath},
            #{createDate},
            #{createUserId}
        )
    </insert>

    <!-- 批量保存系统附件表 -->
    <insert id="batchInsert" parameterType="com.modules.system.entity.SysAttachmentInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_attachment_info (
            biz_id,
            biz_type,
            file_name,
            file_path,
            create_date,
            create_user_id
        ) values
        <foreach item="item" collection="list" separator="," >
            (
                #{item.bizId},
                #{item.bizType},
                #{item.fileName},
                #{item.filePath},
                #{item.createDate},
                #{item.createUserId}
            )
        </foreach>

    </insert>

    <!-- 更新系统附件表 -->
    <update id="update" parameterType="com.modules.system.entity.SysAttachmentInfo">
        update sys_attachment_info 
        <set>
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="bizType != null">biz_type = #{bizType},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createUserId != null">create_user_id = #{createUserId}</if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据主键ID删除系统附件表 -->
    <delete id="delete">
        delete from sys_attachment_info where id = #{value}
    </delete>

    <!-- 根据业务ID删除系统附件表 -->
    <delete id="deleteByBizId">
        delete from sys_attachment_info where biz_id = #{value} and biz_type = #{bizType}
    </delete>

    <!-- 根据主键ID删除系统附件表（逻辑删除） -->
    <delete id="deleteById">
        delete from sys_attachment_info where id = #{value}
    </delete>

    <!-- 根据主键ID批量删除系统附件表 -->
    <delete id="deleteBatch">
        delete from sys_attachment_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>