<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modules.system.mapper.SysDictMapper">

	<!-- 查询指定字典信息 -->
	<select id="get" resultType="com.modules.system.entity.SysDict">
		select * from sys_dict where id = #{value}
	</select>

    <!-- 查询字典列表 -->
    <select id="findList" resultType="com.modules.system.entity.SysDict">
        select * from sys_dict a
        WHERE a.del_flag = '0'
		<if test="searchKeys != null and searchKeys != ''">
			AND (a.label like CONCAT('%', #{searchKeys}, '%') OR
			a.code like CONCAT('%', #{searchKeys}, '%'))
		</if>
		<if test="state != null and state != ''">
			AND a.state = #{state}
		</if>
		<if test="level != null and level != ''">
			AND a.level = #{level}
		</if>
		<if test="code != null and code != ''">
			AND a.parent_id = (select t.id from sys_dict t where t.del_flag = '0' and t.code = #{code})
		</if>
		ORDER BY a.level, a.sort
    </select>

	<!-- 判断字典编码是否唯一 -->
	<select id="isCodeExists" resultType="int">
		select count(1) from sys_dict d where d.del_flag = '0' and d.code = #{code}
		<if test="id != null and id != ''">
			and d.id != #{id}
		</if>
	</select>

	<!-- 根据父编码查询Map结构的一级子字典，map key为code -->
	<select id="findMapByParentCodes" resultType="com.modules.system.entity.SysDict">
		select t.* from sys_dict t where t.del_flag = '0'
		and t.parent_id in (select t1.id from sys_dict t1 where t1.del_flag = '0' and t1.code in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
		)
	</select>

	<!-- 查询左右值 -->
	<select id="getLRNum" resultType="int">
		select a.right_num from sys_dict a
		where a.parent_id = #{parentId}
		ORDER BY a.right_num desc
		limit 1
	</select>

	<!-- 更新左值 -->
	<update id="updateLNum">
		update sys_dict set
		<if test="delFlag != '1'">
			left_num = left_num + 2 where left_num &gt;= #{rightNum}
		</if>
		<if test="delFlag == '1'">
			left_num = left_num - #{treeNodeNum} where left_num &gt;= #{rightNum}
		</if>
	</update>

	<!-- 更新右值 -->
	<update id="updateRNum">
		update sys_dict set
		<if test="delFlag != '1'">
			right_num = right_num + 2 where right_num &gt;= #{rightNum}
		</if>
		<if test="delFlag == '1'">
			right_num = right_num - #{treeNodeNum} where right_num &gt;= #{rightNum}
		</if>
	</update>

	<!-- 保存字典 -->
	<insert id="insert" parameterType="com.modules.system.entity.SysDict">
		insert into sys_dict (
			id
			code,
			parent_id,
			left_num,
			right_num,
			label,
			value,
			type,
			expression,
			sort,
			state,
			level,
			remarks,
			del_flag
		) values (
			#{id},
			#{code},
			#{parentId},
			#{leftNum},
			#{rightNum},
			#{label},
			#{value},
			#{type},
			#{expression},
			#{sort},
			#{state},
			#{level},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<!-- 更新字典 -->
	<update id="update" parameterType="com.modules.system.entity.SysDict">
		update sys_dict 
		<set>
			<if test="code != null and code != ''">code = #{code}, </if>
			<if test="label != null and label != ''">label = #{label}, </if>
			<if test="type != null and type != ''">type = #{type}, </if>
			<if test="value != null and value != ''">value = #{value}, </if>
			<if test="expression != null and expression != ''">expression = #{expression}, </if>
			<if test="remarks != null and remarks != ''">remarks = #{remarks}, </if>
			<if test="sort != null and sort != ''">sort = #{sort}, </if>
			<if test="state != null and state != ''">state = #{state}, </if>
			<if test="level != null and level != ''">level = #{level} </if>
		</set>
		where id = #{id}
	</update>

	<update id="updateStates">
		update sys_dict set state = #{state} where left_num &gt;= #{leftNum} and right_num &lt;= #{rightNum}
	</update>

	<!-- 删除字典 -->
	<update id="deleteById">
		UPDATE sys_dict
		SET del_flag = '1'
		WHERE left_num &gt;= #{leftNum} and right_num &lt;= #{rightNum}
	</update>
	
</mapper>