<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modules.system.mapper.SysNoticeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.modules.system.entity.SysNotice" id="sysNoticeMap">
        <result property="id" column="id"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeType" column="notice_type"/>
        <result property="sendTime" column="send_time"/>
        <result property="infoSources" column="info_sources"/>
        <result property="sourcesUrl" column="sources_url"/>
        <result property="content" column="content"/>
        <result property="readerTimes" column="reader_times"/>
        <result property="status" column="status"/>
        <result property="createDate" column="create_date"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

	<select id="get" resultType="com.modules.system.entity.SysNotice">
		select * from sys_notice where id = #{value}
	</select>

    <!-- 分页查询用户信息 -->
    <select id="findList" resultType="com.modules.system.entity.SysNotice">
        select * from sys_notice a
        WHERE a.del_flag = '0'
										                <if test="noticeTitle != null and noticeTitle != ''">
                    AND a.notice_title like CONCAT('%', #{noticeTitle}, '%')	,                 </if>
								                <if test="noticeType != null and noticeType != ''">
                    AND a.notice_type like CONCAT('%', #{noticeType}, '%')	,                 </if>
								                <if test="sendTime != null and sendTime != ''">
                    AND a.send_time like CONCAT('%', #{sendTime}, '%')	,                 </if>
								                <if test="infoSources != null and infoSources != ''">
                    AND a.info_sources like CONCAT('%', #{infoSources}, '%')	,                 </if>
								                <if test="sourcesUrl != null and sourcesUrl != ''">
                    AND a.sources_url like CONCAT('%', #{sourcesUrl}, '%')	,                 </if>
								                <if test="content != null and content != ''">
                    AND a.content like CONCAT('%', #{content}, '%')	,                 </if>
								                <if test="readerTimes != null and readerTimes != ''">
                    AND a.reader_times like CONCAT('%', #{readerTimes}, '%')	,                 </if>
								                <if test="status != null and status != ''">
                    AND a.status like CONCAT('%', #{status}, '%')	,                 </if>
																																			        ORDER BY a.create_date
    </select>

    <!-- 查询全部用户 -->
    <select id="findAllList" resultType="com.modules.system.entity.SysNotice">
       select * from sys_notice a
        WHERE a.del_flag = '0'
        ORDER BY a.create_date
    </select>

	<select id="queryList" resultType="com.modules.system.entity.SysNotice">
        select * from sys_notice a
        WHERE a.del_flag = '0'
										                <if test="noticeTitle != null and noticeTitle != ''">
                    AND a.notice_title like CONCAT('%', #{noticeTitle}, '%')	,                 </if>
								                <if test="noticeType != null and noticeType != ''">
                    AND a.notice_type like CONCAT('%', #{noticeType}, '%')	,                 </if>
								                <if test="sendTime != null and sendTime != ''">
                    AND a.send_time like CONCAT('%', #{sendTime}, '%')	,                 </if>
								                <if test="infoSources != null and infoSources != ''">
                    AND a.info_sources like CONCAT('%', #{infoSources}, '%')	,                 </if>
								                <if test="sourcesUrl != null and sourcesUrl != ''">
                    AND a.sources_url like CONCAT('%', #{sourcesUrl}, '%')	,                 </if>
								                <if test="content != null and content != ''">
                    AND a.content like CONCAT('%', #{content}, '%')	,                 </if>
								                <if test="readerTimes != null and readerTimes != ''">
                    AND a.reader_times like CONCAT('%', #{readerTimes}, '%')	,                 </if>
								                <if test="status != null and status != ''">
                    AND a.status like CONCAT('%', #{status}, '%')	,                 </if>
																																			        ORDER BY a.create_date
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_notice 
	</select>
	 
	<insert id="insert" parameterType="com.modules.system.entity.SysNotice">
		insert into sys_notice
		(
			id, 
			notice_title, 
			notice_type, 
			send_time, 
			info_sources, 
			sources_url, 
			content, 
			reader_times, 
			status, 
			create_date, 
			create_user_id,
			update_user_id,
			update_date, 
			del_flag, 
			remarks
		)
		values
		(
			#{id}, 
			#{noticeTitle}, 
			#{noticeType}, 
			#{sendTime}, 
			#{infoSources}, 
			#{sourcesUrl}, 
			#{content}, 
			#{readerTimes}, 
			#{status}, 
			#{createDate}, 
			#{createUserId},
			#{updateUserId},
			#{updateDate}, 
			#{delFlag}, 
			#{remarks}
		)
	</insert>
	 
	<update id="update" parameterType="com.modules.system.entity.SysNotice">
		update sys_notice 
		<set>
			<if test="noticeTitle != null">notice_title = #{noticeTitle}, </if>
			<if test="noticeType != null">notice_type = #{noticeType}, </if>
			<if test="sendTime != null">send_time = #{sendTime}, </if>
			<if test="infoSources != null">info_sources = #{infoSources}, </if>
			<if test="sourcesUrl != null">sources_url = #{sourcesUrl}, </if>
			<if test="content != null">content = #{content}, </if>
			<if test="readerTimes != null">reader_times = #{readerTimes}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="createDate != null">create_date = #{createDate}, </if>
			<if test="createUserId != null">create_user_id = #{createUserId}, </if>
			<if test="updateUserId != null">update_user_id = #{updateUserId}, </if>
			<if test="updateDate != null">update_date = #{updateDate}, </if>
			<if test="delFlag != null">del_flag = #{delFlag}, </if>
			<if test="remarks != null">remarks = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_notice where id = #{value}
	</delete>
    <!-- 删除用户 -->
    <update id="deleteById">
        UPDATE sys_notice
        SET del_flag = '1'
        WHERE id = #{id}
    </update>
	<delete id="deleteBatch">
		delete from sys_notice where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>