<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modules.system.mapper.SysOrgMapper">

    <!-- 机构编码是否唯一 -->
    <select id="isCodeExists" resultType="int">
        select count(1) from sys_org d where d.del_flag = '0' and d.code = #{code}
        <if test="id != null and id != ''">
            and d.id != #{id}
        </if>
    </select>

    <!-- 查询指定机构信息 -->
    <select id="get" resultType="com.modules.system.entity.SysOrg">
		select * from sys_org where id = #{value}
	</select>

    <!-- 查询机构信息 -->
    <select id="findList" resultType="com.modules.system.entity.SysOrg">
        select a.* from sys_org a
        WHERE a.del_flag = '0'
        ORDER BY a.sort ASC
    </select>

    <!-- 查询左右值 -->
    <select id="getLRNum" resultType="int">
        select a.right_num from sys_org a
        where a.id = #{parentId}
        ORDER BY a.right_num desc
        limit 1
    </select>

    <!-- 更新左值 -->
    <update id="updateLNum">
        update sys_org set
        <if test="delFlag != '1'">
          left_num = left_num + 2 where left_num &gt;= #{rightNum}
        </if>
        <if test="delFlag == '1'">
          left_num = left_num - #{treeNodeNum} where left_num &gt;= #{rightNum}
        </if>
    </update>

    <!-- 更新右值 -->
    <update id="updateRNum">
        update sys_org set
        <if test="delFlag != '1'">
            right_num = right_num + 2 where right_num &gt;= #{rightNum}
        </if>
        <if test="delFlag == '1'">
            right_num = right_num - #{treeNodeNum} where right_num &gt;= #{rightNum}
        </if>
    </update>

    <!-- 新增机构 -->
    <insert id="insert" parameterType="com.modules.system.entity.SysOrg">
		insert into sys_org (
			id,
			parent_id,
			left_num,
			right_num,
			code,
			name,
			name_py,
			type,
			level,
			state,
			sort,
			del_flag,
			remarks
		) values (
			#{id},
			#{parentId},
			#{leftNum},
			#{rightNum},
			#{code},
			#{name},
			#{namePy},
			#{type},
			#{level},
			#{state},
			#{sort},
			#{delFlag},
			#{remarks}
		)
	</insert>

    <!-- 更新机构信息 -->
    <update id="update" parameterType="com.modules.system.entity.SysOrg">
        update sys_org
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="leftNum != null">left_num = #{leftNum},</if>
            <if test="rightNum != null">right_num = #{rightNum},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="namePy != null and namePy != ''">name_py = #{namePy},</if>
            <if test="type != null">type = #{type},</if>
            <if test="level != null">level = #{level},</if>
            <if test="state != null">state = #{state},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag}</if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除机构 -->
    <update id="deleteById">
        UPDATE sys_org
        SET del_flag = '1'
        WHERE id = #{id}
    </update>

</mapper>