(function () {
    'use strict';

    angular.module('app')
        .controller('${className}InfoCtrl', ${className}InfoCtrl);

    ${className}InfoCtrl.$inject = ['$rootScope', '$scope', 'toaster', '${className}Service'];
    function ${className}InfoCtrl($rootScope, $scope, toaster, ${classname}Service) {

        $scope.title = '${comments}信息';
        var id = $rootScope.sysuser.id;

        $rootScope.loading = true;
        ${classname}Service.getById(id)
            .then(function (data) {
                $scope.user = data;
            })
            .finally(function () {
                $rootScope.loading = false;
            })
        ;

        $scope.saveData = function () {
            $rootScope.loading = true;
            ${classname}Service.saveInfo($scope.user)
                .then(function () {
                    toaster.pop('success', '', '保存成功');
                })
                .finally(function () {
                    $rootScope.loading = false;
                })
            ;
        }

    }
})();