<!-- ${comments} 表格-->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> 首页</a></li>
        <li><a ui-sref="app.${pathName}.list">${comments}管理</a></li>
        <li class="active" ng-bind="title"></li>
        <button class="btn btn-sm btn-icon btn-default pull-right" ng-click="$state.reload()"><i
                class="icon icon-refresh"></i></button>
    </ul>
</div>
<div class="wrapper-sm">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                #set($index=1)
                #foreach ($column in $columns)
                    #if($column.columnName != $pk.columnName&&
                        $column.columnName != 'create_date'&&$column.columnName !='create_by'&&$column.columnName !=
                        'remarks'
                    &&$column.columnName != 'update_by'&&$column.columnName !='update_date'&&$column.columnName !=
                        'del_flag')
                        #if($index % 2 != 0)
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                        #end
                        <label class="col-sm-2 control-label"><span
                                class="text-danger wrapper-sm">*</span>$column.comments</label>
                        <div class="col-sm-4">
                            #if($column.attrType== 'Date')
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm"
                                           uib-datepicker-popup="yyyy-MM-dd"
                                           ng-model="${classname}.$column.attrname"
                                           is-open="${column.attrname}Opened"
                                           placeholder="$column.comments"
                                           readonly
                                           ng-click="${column.attrname}Opened = true"
                                    />
                                    <span class="input-group-btn">
                                   <button type="button" class="btn btn-sm btn-default"
                                           ng-click="$event.preventDefault();$event.stopPropagation();${column.attrname}Opened = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                   </button>
                                 </span>
                                </div>
                            #else

                                #if($column.columnName =='cat_cd')
                                    <select ng-model="${classname}.catCd" ng-options="m.key as m.value for m in ${classname}_type"
                                            class="form-control input-sm">
                                        <option value="">$column.comments</option>
                                    </select>

                                #else
                                    <input type="text" ng-model="${classname}.$column.attrname"
                                           class="form-control w-md" ng-maxlength="100" required>
                                #end
                            #end
                        </div>
                        #if($index % 2 == 0||$index== $columns.size())
                        </div>
                        #end
                        #set($index=$index+1)
                    #end
                #end
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="button" class="btn btn-default" ng-disabled="form.$invalid" ng-click="saveData()">
                            保存
                        </button>
                        <a class="btn btn-primary" ui-sref="app.${pathName}.list">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
