package ${package}.mapper;

import ${package}.${classname}.api.entity.${className};
import ${package}.common.service.dao.CrudDao;
import org.apache.ibatis.annotations.Mapper;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends CrudDao<${className}> {
	
}
