import request from '../utils/request';

/**
 * 列表查询
 */
export async function queryList(params) {
    return request('/${pathName}/list');
}

/**
 * 保存
 */
export async function saveInfo(params) {
    return request('/${pathName}/save/', {
        method: 'POST'
        body: params,
    });
}

/**
 * 删除
 */
export async function deleteInfo(id) {
    return request(`/${pathName}/delete/`);
}