package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import com.alibaba.dubbo.config.annotation.Service;

import java.util.List;
import java.util.Map;
import ${package}.${classname}.api.entity.${className};
import ${package}.${classname}.api.service.${className}Service;
import ${package}.${classname}.mapper.${className}Mapper;
import ${package}.common.service.CrudService;




@Service(interfaceClass = ${className}Service.class)
public class ${className}ServiceImpl extends CrudService<${className}Mapper, ${className}> implements ${className}Service {
	@Autowired
	private ${className}Mapper ${classname}Mapper;

    @Override
    public ${className} queryObject(${pk.attrType} ${pk.attrname}){
        return ${classname}Mapper.get(${pk.attrname});
    }

	@Override
	public List<${className}> queryList(Map<String, Object> map){
		return ${classname}Mapper.queryList(map);
	}

	@Override
	public void deleteById(${pk.attrType} ${pk.attrname}){
		${classname}Mapper.deleteById(${pk.attrname});
	}
	
	@Override
	public void delete(${className} ${classname}){
		${classname}Mapper.delete(${classname});
	}
	
}
